html,
body
	height 100%

body
	display none
	color $c-white
	background $c-black url('../img/backgrounds/bart.png') left bottom no-repeat

	&.ready
		display block
		animation slide $anim-duration-slow
