/*
 * General Colors
 *
 * Use the following website to help you name the colors:
 * http://chir.ag/projects/name-that-color
 */

$color-black = #000000
$color-white = #ffffff
$color-red = #ff0000


/*
 * Transition duration
 */

$transition = .5s
$transition-fast = .25s
$transition-slow = 1s


/*
 * Scaffolding
 */

$body-bg = $color-black
$body-color = $color-white
